@font-face {
    font-family: Amaranth;
    src: url('Amaranth-Regular.ttf');
}

@font-face {
    font-family: Amaranth-B;
    src: url('Amaranth-Bold.ttf');
}

@font-face {
    font-family: Amaranth-BI;
    src: url('Amaranth-BoldItalic.ttf');
}

@font-face {
    font-family: Amaranth-I;
    src: url('Amaranth-Italic.ttf');
}

@font-face {
    font-family: Raleway;
    src: url('Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family: Fira_Code;
    src: url('FiraCode-VariableFont_wght.ttf');
}
