

body{
    background-image: url("home_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.headercont{
    display: flex;
    justify-content: center;
    height: 25vw;
}

.header{
    width: 105vw;
    height: 19.28vw;
}

.header#name_institute{
    position: fixed;
    top: 0px;
    background-color: #000000;
    z-index: 1;
    color: #ffffff;
    text-align: center;
    font-size: 44.3px;
    font-family: Amaranth;
}

.header#rotate1{
    position: fixed;
    top: 0px;
    background-color: #666769;
    transform: rotate(-1deg);
    z-index: 0;
}

.header#rotate2{
    position: fixed;
    top: 0px;
    background-color: #D9D9D9;
    transform: rotate(1deg);
    z-index: -1;
}

.headeritem#icon{
    width: 142px;
    height: 142px;
    background-color: #b1d4e0;
    border: 5px solid #ffffff;
    border-radius: 50%;
    margin-top: 50px;
    align-self: center;
    z-index: 2;
}

div#greeting{
    color: black;
    font-family: Amaranth, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}

#performance_sheet{
    text-transform: uppercase;
    text-align: center;
}
