body#HOME{
    background-image: url("/static/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 4vh;
    overflow: hidden;
  }
  body#ADMIN{
    background-color: #e6e6e6;
    overflow: hidden;
  }
  
  .headercont{
    display: flex;
    justify-content: center;
    height: 25vw;
    margin-bottom: 0px;
  }
  
  .header{
    width: 105vw;
    height: 15vw;
  }
  
  #icon {
    border-radius: 100%;
    background-color: black;
  }
  
  #icon img{
    max-width: 100%;
    max-height: 100%;
  }
  
  .header#name_institute{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    z-index: 1;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 44.3px;
    font-family: Amaranth;
  }
  
  
  .header#name_institute a{
    text-decoration: white none;
    color: white;
  }
  
  .header#name_inst a{
    text-decoration: white none;
    color: white;
  }

  .header#name_inst a:visited{
    text-decoration: white none;
    color: white;
  }
  
  .header#rotate1{
    position: absolute;
    top: 0px;
    background-color: #666769;
    transform: rotate(-1deg);
    z-index: 0;
  }
  
  .header#rotate2{
    position: absolute;
    top: 0px;
    background-color: #D9D9D9;
    transform: rotate(1deg);
    z-index: -1;
  }
  
  .headeritem#icon{
    width: 142px;
    height: 142px;
    background-color: white;
    border: 5px solid #ffffff;
    border-radius: 50%;
    margin-top: 50px;
    align-self: center;
    z-index: 1;
  }
  
  div#greeting{
    color: black;
    font-family: Amaranth, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    height: 50px;
  }
  
  
  div#performance_sheet {
    display:flex;
    text-align: center;
    padding: 10px;
    font-size: 36px; 
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px; 
  }
  
  div#performance_sheet button{
    width: 250px;
    height: 50px;
    font-size: 18px;
    background-color: #dcdcdc;
    box-shadow: #666666 2px;
    color: #444444;
    border-radius: 10%;
  
  }
  
  div#performance_sheet button a {
    text-decoration: #444444 none;
    color:#444444;
  }
  

  .contentcont {
    height: 75vw;
    font-size: 30px;
  }
  
  .adminbody{
    padding-top: 2%;
    height: 20vh;
    margin-top:-15vh;
    background-color: #e6e6e6;
    font-family: Amaranth;
  }
  
  .adminopts{
    display:flex;
    background-color: white;
    padding-bottom:30px;
  
  }
  .student,.faculty,.groups{
    width: 33.3vw;
    text-align: center;
    color: rgb(100, 100, 100);
    font-family: Amaranth;
    font-size: 20px;
  
  }
  #ADMIN img{
    padding:40px;
    height:20vh;
  }

table tr td{
  border: black 1px solid;
}

.register_button#register_button{
  margin-left: 94.3vw;
  margin-bottom: 10vh;
  margin-top: -40vh;
  padding: 12px;
  background-color: #666666;
  color: #dcdcdc;
  font-size: large;
}

.logout#logout{
  margin-left: 44.3vw;
  margin-bottom: 10vh;
  margin-top: -40vh;
  padding: 12px;
  background-color: #666666;
  font-size: large;
  width: 5vw;
}

.logout#logout a{
  color: #dcdcdc;
  text-decoration: none;
}

div#performance_sheet button{
  width: 250px;
  height: 50px;
  border: 3px solid #444444;
  border-top: none;
  border-bottom-width: 1.5px;
  font-size: 18px;
  background-color: #d9d9d9;
  box-shadow: #666666 2px;
  color: #444444;
  border-radius: 5px;

}

div#performance_sheet button:hover{
  width: 252px;
  height: 52px;
  border: 3px solid #444444;
  border-top: none;
  border-bottom-width: 1.5px;
  font-size: 18px;
  background-color: #cfcfcf;
  box-shadow: #666666 2px;
  color: #444444;
  border-radius: 5px;

}

div#performance_sheet button:active{
  width: 249px;
  height: 49px;
  border: 3px solid #444444;
  border-top: none;
  border-bottom-width: 1.5px;
  font-size: 18px;
  background-color: #cfcfcf;
  box-shadow: #666666 2px;
  color: #444444;
  border-radius: 5px;

}

div#performance_sheet button a {
  text-decoration: none;
  color:#444444;
}

div#performance_sheet button a:visited{
  text-decoration: none;
  color:#444444;
}
