<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" href="static/css/Fonts/fonts.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
  </head>
  <body id="ADMIN">
    <div class="headercont">
      <div class="header" id="name_inst">
          <a href="https://vjti.ac.in/"> Veermata Jijabai Technological Institute </a></div>
      <div class="header" id="rotate1"></div>
      <div class="header" id="rotate2"></div>
      </div>

      <div class="adminbody">
        <div id="greeting">
          Admin Mode
        </div>
      </div>

      <div class="adminopts">
        <div class="student">
          <a href="/student_admin"><img src="/static/student.png" alt="students"></a>
          <br>STUDENTS
        </div> 
        <div class="faculty">
          <img src="/static/faculty.png" alt="faculty">
          <br>FACULTY
        </div>
        <div class="groups">
          <img src="/static/groups.png" alt="groups">
          <br>GROUPS
        </div>
      </div>

  </body>
</html>