<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name - Home</title>
    <link rel="stylesheet" href="Fonts/fonts.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<main>
    <div class="headercont">
        <div class="header" id="name_institute">Veermata Jijabai Technological Institute</div>
        <div class="header" id="rotate1"></div>
        <div class="header" id="rotate2"></div>
        <div class="headeritem" id="icon"></div>
    </div>

    <div class="contentcont">
        <div id="greeting">
            Hello, Student!
        </div>
    
        <div>
            <!-- <form> Include a form-->
            <select name="otherpages" id="otherpages">
                <option value="student_data">Student Data</option>
                <option value="security">Security</option>
                <option value="settings">Settings</option>
            </select>
        </div>
        <div id="performance_sheet">
            <button id="performance_sheet_button">Performance Sheet</button>
        </div>
    </div>
</main>
</body>
</html>